<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- ============================================================== -->
  <!-- Macro to add an <inertial> tag based on yaml-load properties   -->
  <!--                                                                -->
  <!-- name:     Name of the end_effector (without prefix)              -->
  <!-- ee_inertials: Dictionary of inertia properties (see inertial.yaml) -->
  <!-- ============================================================== -->
  <xacro:macro name="ee-inertials" params="name ee_inertials:=^">
      <xacro:unless value="${name in ee_inertials}">${xacro.warning('No inertia properties defined for: ' + name)}</xacro:unless>
      <xacro:if value="${name in ee_inertials}">
        <!-- Access inertia properties of link 'name' -->
        <xacro:property name="link_inertials" value="${ee_inertials[name]}" lazy_eval="false" />
        <inertial>
          <origin rpy="${link_inertials.origin.rpy}" xyz="${link_inertials.origin.xyz}" />
          <mass value="${link_inertials.mass}" />
          <xacro:if value="${'inertia' in link_inertials}">
            <xacro:property name="I" value="${link_inertials.inertia}" />
            <inertia ixx="${I.xx}" ixy="${I.xy}" ixz="${I.xz}" iyy="${I.yy}" iyz="${I.yz}" izz="${I.zz}" />
          </xacro:if>
        </inertial>
      </xacro:if>
  </xacro:macro>


   
  

  <xacro:macro name="fr3-hand-link" params="name">

  <link name="${name}">

    <visual>
      <geometry>
        <mesh filename="package://franka_description/meshes/franka_hand_white/visual/${name}.dae"/>
      </geometry>
    </visual>

    <collision>
      <geometry>
        <mesh filename="package://franka_description/meshes/franka_hand_white/collision/${name}.stl"/>
      </geometry>
    </collision>

    <xacro:ee-inertials
        name="${name}"
        ee_inertials="${ee_inertials}"/>

  </link>
  </xacro:macro>


</robot>